absl-py==1.4.0
alabaster==0.7.13
ansicon==1.89.0
asgiref==3.7.2
astroid==2.15.5
asttokens==2.2.1
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.12.2
Bext==0.0.8
blessed==1.20.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
comm==0.2.0
contourpy==1.1.0
cycler==0.11.0
debugpy==1.8.0
decorator==4.4.2
dill==0.3.6
distlib==0.3.6
Django==4.2.3
docutils==0.18.1
enlighten==1.12.0
executing==1.2.0
ffmpeg==1.4
filelock==3.12.2
fire==0.5.0
fonttools==4.40.0
fpstimer==0.0.1
fsspec==2023.6.0
fugashi==1.2.1
greenlet==2.0.2
html2text==2020.1.16
huggingface-hub==0.15.1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
imagesize==1.4.1
iniconfig==2.0.0
ipykernel==6.27.1
ipython==8.14.0
isort==5.12.0
jaconv==0.3.4
jedi==0.18.2
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.3.1
jupyter_client==8.6.0
jupyter_core==5.5.1
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
loguru==0.7.0
manga-ocr==0.1.10
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mokuro==0.1.7
moviepy==1.0.3
mpmath==1.3.0
natsort==8.4.0
nest-asyncio==1.5.8
networkx==3.1
numpy==1.25.0
opencv-python==4.8.0.74
ortools==9.7.2996
packaging==23.1
panda==0.3.1
pandas==2.0.2
parso==0.8.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.3
plotly==5.15.0
pluggy==1.0.0
prawn==0.2.1
prefixed==0.7.0
proglog==0.1.10
prompt-toolkit==3.0.39
protobuf==4.24.3
psutil==5.9.5
pure-eval==0.2.2
pyclipper==1.3.0.post4
pygame==2.4.0
Pygments==2.15.1
pyparsing==3.1.0
pyperclip==1.8.2
pyte==0.8.1
pytest==7.3.2
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
PyYAML==6.0
pyzmq==25.1.2
regex==2023.6.3
requests==2.31.0
rich==13.6.0
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
shapely==2.0.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==7.2.6
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
spicy==0.16.0
SQLAlchemy==2.0.17
sqlparse==0.4.4
stack-data==0.6.2
sympy==1.12
tenacity==8.2.2
termcolor==2.3.0
threadpoolctl==3.2.0
tokenizers==0.13.3
tomlkit==0.11.8
torch==2.0.1
torchsummary==1.5.1
torchvision==0.15.2
tornado==6.4
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
typing_extensions==4.7.0
tzdata==2023.3
unidic-lite==1.0.8
urllib3==2.0.3
virtualenv==20.23.1
wcwidth==0.2.6
win-unicode-console==0.5
win32-setctime==1.1.0
wrapt==1.15.0
xlrd==2.0.1
yattag==1.15.1
